* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #646464;
}

.piano {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitekey {
    width: 10%;
    height: 60vh;
    background-color: white;
    display: inline-block;
    position: relative;
    border: 1px solid #000;
}

.blackkey {
    width: 3%;
    height: 30vh;
    background-color: black;
    display: inline-block;
    position: absolute;
    z-index: 2;
    border: 1px solid #000;
    top: 0;
}

#blackkey1 {
    left: 8.5%;
}

#blackkey2 {
    left: 18.5%;
}

#blackkey3 {
    left: 38.5%;
}

#blackkey4 {
    left: 48.5%;
}

#blackkey5 {
    left: 58.5%;
}

#blackkey6 {
    left: 78.5%;
}

#blackkey7 {
    left: 88.5%;
}

.whitekey, .blackkey {
    cursor: pointer;
}

.whitekey:hover, .blackkey:hover {
    box-shadow: 0 0 15px #7e7e7e;
    background-color: #cecece;
}

.blackkey:hover {
    background-color: #6e6e6e;
}
